{% extends 'base_task.html' %}


{% block class_status_priority %}
    border-dark
{% endblock class_status_priority %}

{% block answer %}
    <h6 class="card-subtitle mb-2">Статус:
        {% if usertask.status.status == 'complete' %}
            Завершена
        {% elif usertask.status.status == 'failed' %}
            Просрочена
        {% elif usertask.status.status == 'accepted' %}
            Выполняется
        {% elif usertask.status.status == 'rejected' %}
            Отклонена
        {% endif %}
    </h6>

    {% if usertask.task.message == '' or usertask.task.message == None %}

    {% else %}
        <hr>
        Сообщение:
        <p class="card-text" style="overflow: auto;
    overflow-x: hidden;
    max-height: 120px;">
            {{ usertask.task.message }}
        </p>

    {% endif %}

{% endblock answer %}

