{% extends 'base_task.html' %}


{% block class_status_priority %}
    {% include 'class_status_priority.html' %}
{% endblock class_status_priority %}

{% block footer_card %}

    <a href="{% url 'accept_task' usertask.task.id %}" class="btn
            {% if usertask.task.priority.priority == 'LOW' %}
                btn-outline-primary
                {% elif usertask.task.priority.priority == 'MEDIUM' %}
                btn-outline-warning
                {% else %}
                btn-outline-danger
                {% endif %}">Принять</a>


    <a href="#"
       class="btn
            {% if usertask.task.priority.priority == 'LOW' %}
                btn-outline-primary
                {% elif usertask.task.priority.priority == 'MEDIUM' %}
                btn-outline-warning
                {% else %}
                btn-outline-danger
                {% endif %}"
       data-bs-toggle="modal"
       data-bs-target="#MessageModal{{ usertask.task.id }}"
    >Отклонить</a>




{% endblock footer_card %}

{% block message %}
    {% include 'message.html' with url='reject' %}
{% endblock message %}