{% extends 'base_task.html' %}


{% block class_status_priority %}
    {% include 'class_status_priority.html' %}
{% endblock class_status_priority %}

{% block answer %}
    <h6 class="card-subtitle mb-2">Статус:
        {% if usertask.status.status == 'complete' %}
            Завершена
        {% elif usertask.status.status == 'failed' %}
            Просрочена
        {% elif usertask.status.status == 'accepted' %}
            Выполняется
        {% elif usertask.status.status == 'rejected' %}
            Отклонена
        {% endif %}
    </h6>

    {% if usertask.task.message == '' or usertask.task.message == None %}

    {% else %}
        <hr>
        Сообщение:
        <p class="card-text" style="overflow: auto;
    overflow-x: hidden;
    max-height: 120px;">
            {{ usertask.task.message }}
        </p>

    {% endif %}

{% endblock answer %}

{% block footer_card %}

    <a href="{% url 'archive_task' usertask.task.id %}" class="btn
            {% if usertask.task.priority.priority == 'LOW' %}
                btn-outline-primary
                {% elif usertask.task.priority.priority == 'MEDIUM' %}
                btn-outline-warning
                {% else %}
                btn-outline-danger
                {% endif %}">В архив</a>

    <a href="{% url 'delete_task' usertask.task.id %}" class="btn
            {% if usertask.task.priority.priority == 'LOW' %}
                btn-outline-primary
                {% elif usertask.task.priority.priority == 'MEDIUM' %}
                btn-outline-warning
                {% else %}
                btn-outline-danger
                {% endif %}">Удалить</a>




{% endblock footer_card %}
