<div class="col">
    <div class="card
     {% if task.priority.priority == 'LOW' %}
                border-primary
                {% elif task.priority.priority == 'MEDIUM' %}
                border-warning
                {% else %}
                border-danger
                {% endif %}
     h-100" style="max-width: 18rem">
        <div class="card-header">
            <h5>{{ task.name }}</h5>
        </div>
        <div class="card-body">
            <h6 class="card-subtitle mb-2">Инициатор:
                {% if task.initiator %}
                    {{ task.initiator }}
                {% else %}
                    Неизвестен
                {% endif %}
            </h6>
            <h6 class="card-subtitle mb-2">Начало: {{ task.date_start|date:"d m y" }}</h6>
            <h6 class="card-subtitle mb-2">Завершение:
                {% if task.date_end %}
                    {{ task.date_end|date:"d m y" }}
                {% else %}
                    Нет
                {% endif %}
            </h6>
            <h6 class="card-subtitle mb-2">Приоритет:
                {% if task.priority.priority == 'LOW' %}
                    Низкий
                {% elif task.priority.priority == 'MEDIUM' %}
                    Средний
                {% else %}
                    Высокий
                {% endif %}
            </h6>


            {% if task.description == '' %}
            {% else %}
                Описание:
                <p class="card-text" style="overflow: auto;
    overflow-x: hidden;
    max-height: 120px;">
                    {{ task.description }}
                </p>
            {% endif %}

            {% if task.file_set.get %}
                <a href="{% url 'download_file' task.file_set.get.id %}"><img src="/static/img/file.png" alt="file"
                                                                              style="width: 30px;"
                                                                              class="d-inline-block align-text-top"></a>
            {% endif %}

        </div>
        <div class="card-footer d-flex justify-content-between">


            <a href="{% url 'accept_task' task.id %}" class="btn
            {% if task.priority.priority == 'LOW' %}
                btn-outline-primary
                {% elif task.priority.priority == 'MEDIUM' %}
                btn-outline-warning
                {% else %}
                btn-outline-danger
                {% endif %}">Принять</a>


            <a href="#" class="btn
            {% if task.priority.priority == 'LOW' %}
                btn-outline-primary
                {% elif task.priority.priority == 'MEDIUM' %}
                btn-outline-warning
                {% else %}
                btn-outline-danger
                {% endif %}"
               data-bs-toggle="modal"
               data-bs-target="#MessageModal{{ task.id }}"
            >Отклонить{{ task.id }}</a>

        </div>
    </div>
</div>

