{% extends 'base_task.html' %}

{% block class_status %}
    {% include 'utils/class_status.html' with class='border' %}
{% endblock class_status %}

{% block answer %}


    {% if usertask.task.message %}

        <hr>
        Сообщение:
        <p class="card-text" style="overflow: auto;
    overflow-x: hidden;
    max-height: 120px;">
            {{ usertask.task.message }}
        </p>

    {% endif %}

{% endblock answer %}

{% block footer_card %}

    {% include 'utils/button.html' with url='archive' is_modal='false' text_button='В архив' %}
    {% include 'utils/button.html' with url='delete' is_modal='false' text_button='Удалить' %}

{% endblock footer_card %}
