<a href="
    {% if url == '#' %}
    #
    {% elif url == 'accept' %}
    {% url 'accept_task' usertask.task.id %}
    {% elif url == 'archive' %}
    {% url 'archive_task' usertask.task.id %}
    {% elif url == 'delete' %}
    {% url 'delete_task' usertask.task.id %}
    {% endif %}
"
   class="btn
   {% if usertask.status.status == 'Completed' %}
    btn-outline-success
    {% elif usertask.status.status == 'Failed' %}
    btn-outline-danger
{% elif usertask.task.priority.priority == 'LOW' %}
    btn-outline-primary
{% elif usertask.task.priority.priority == 'MEDIUM' %}
     btn-outline-warning
{% else %}
     btn-outline-danger
{% endif %}
"
        {% if is_modal == 'true' %}
   data-bs-toggle="modal"
   data-bs-target="#MessageModal{{ usertask.task.id }}"
        {% endif %}
>{{ text_button }}</a>