{% extends 'new_template/base_task.html' %}

{% block add_task %}
    {% include 'addTask.html' %}
    {% endblock add_task %}

{% block class_status_priority %}
    {% include 'new_template/class_status_priority.html' %}
    {% endblock class_status_priority %}

{% block footer_card %}
                <a href="#" class="btn
            {% if usertask.task.priority.priority == 'LOW' %}
                btn-outline-primary
                {% elif usertask.task.priority.priority == 'MEDIUM' %}
                btn-outline-warning
                {% else %}
                btn-outline-danger
                {% endif %}"
                   data-bs-toggle="modal"
                   data-bs-target="#MessageModal{{ usertask.task.id }}"
                >Завершить{{ usertask.task.id }}</a>

            {% endblock footer_card %}

{% block message %}
    {% include 'new_template/message.html' with url='complete' %}
{% endblock message %}