<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %} Задачи {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
</head>
<body>

{% block base %}{% endblock base %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="static/js/scripts.js"></script>
{% bootstrap_javascript %}
</body>
</html>